@charset "utf-8";
/* CSS Document */

.hide{
  width: 0; height: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  visibility: hidden;
}


/* 구글 한글폰트 */
/* font-family: 'Noto Sans KR', sans-serif; */

img{
	max-width: 100%;
  }
  
  html{
	font: 16px '나눔고딕', sans-serif;
	color: #222;
  }

  /* 공통 */
  input{
	border-radius: 3px;
	font-family: 'Noto Sans KR', sans-serif;
	border: solid 1px #dadada;
	text-indent: 10px;
  }
  select{
	border-radius: 3px;
	border: solid 1px #dadada;
  }
  label{
	font-family: 'Noto Sans KR', sans-serif;
  }
  
  
  #wrap{
	margin: 0 auto;
  }

  #header{
	margin: 0 auto;
	width: 1920px;
  }
  #header>header{
	width: 460px;
	margin: 0 auto;
	padding: 80px 0;
  }
  #header>header>h1{
	/* padding: 40px 0; */
	font-size: 40px;
	font-weight: bold;
	color: #1065a3;
	width: 100%;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	text-shadow: 1px 0px 3px #999;
  }

 
  #box01{
	margin: 80px auto ;
	width: 1920px;
  }
  /* #box01>h2{
	padding: 40px 0;
	font-size: 40px;
	font-weight: bold;
	color: #1065a3;
	width: 100%;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	text-shadow: 1px 0px 3px #999;
  } */

  #box01>form{
	width: 460px;
	margin: 0 auto;
  }

  #sign{
	width: 460px;
	text-align: center;
	margin: 0 auto;
	/* background-color: red; */
	padding: 40px 0;
  }

  #sign>li{
	margin-bottom: 60px;
  }

  #sign p{
	width: 100%;
	text-align: start;
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: bold;
  }

  /* 이름 */
  #name{
	/* background-color: green; */
  }
  #name>input{
	width: 100%;
	font-size: 20px;
	text-indent: 5px;
	margin-bottom: 10px;
	padding: 10px 0;
  }


  /* 생년월일 */
  #birthday{
	width: 100%;
	font-size: 20px;
	text-align: start;
	/* background-color: green; */
  }

  #birthday{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  #birthday>input{
	width: 30%;
	font-size: 20px;
	text-indent: 5px;
	/* margin-bottom: 10px; */
	padding: 10px 0;
  }
  #birthday>#mm{
	width: 30%;
	font-size: 20px;
	text-indent: 5px;
	/* margin-bottom: 10px; */
	padding: 10px 0;
  }
  #birthday>#dd{
	width: 30%;
	font-size: 20px;
	text-indent: 5px;
	/* margin-bottom: 10px; */
	padding: 10px 0;
  }

  /* 성별 */

  #gender{
	width: 100%;
	font-size: 20px;
	text-align: start;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  }
  #gender>label{
  }
  #gender>input{
	width: 25px;
	height: 25px;
	margin: 0 25px 0 10px;
  }


  /* 전화번호 */
  #tel{
	width: 100%;
	font-size: 20px;
	text-align: start;
  }
  #tel>span{
	display: block;
	width: 100%;
	text-align: start;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;
  }
  #tel>input{
	width: 100%;
	font-size: 20px;
	text-indent: 5px;
	margin-bottom: 10px;
	padding: 10px 0;
  }
/* 자동이체 수단 선택 */
  #bank{
	width: 100%;
	font-size: 20px;
	text-align: start;
  }
  #bank>p{
	margin-bottom: 20px;
  }
  
  #bank>label{
	font-size: 20px;
  }
  /* 계좌번호 폼 */
  #bank>#bankNoInfo{
	/* background-color: red; */
	display: block;
	margin: 40px auto;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	padding: 30px 0;
  }
  #bankNoInfo>p{
  }
  #bankNoInfo>.bankNo-label{
	display: block;
	margin: 0 auto 10px;
  }
  #bankNoInfo>.bankNo-input{
	display: block;
	width: 50%;
	font-size: 20px;
	padding: 10px 0;
  }
  #bankNoInfo>.bankNo-input:nth-child(2){
	margin-bottom: 30px;
  }

/* 카드번호 폼 */
  #cardNoInfo{
	/* background-color: green; */
	display: block;
	margin: 40px auto;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	padding: 30px 0 0;
  }
  #cardNoInfo>.cardNo-label{
	display: block;
	margin: 0 auto 10px;
  }
  #cardNoInfo>.cardNo-input{
	width: 20%;
	font-size: 20px;
	padding: 10px 0;
	margin-bottom: 30px;
  }

/* 설치주소 폼 */
  .form-floating{
	width: 100%;
	/* background-color: yellow; */
	display: block;
	margin: 20px auto;
  }
  #sign>.form-floating>p{
	margin-bottom: 20px;
  }

  .form-floating>.address01{
	width: 100%;
	/* background-color: red; */
	text-align: start;
	display: flex;
	justify-content: flex-start;
  }
  .form-floating>.address01>input{
	width: 25%;
	font-size: 18px;
	padding: 10px 0;
  }
  .form-floating>.address01>input:last-child{
	width: 30%;
	font-size: 18px;
	padding: 10px 10px;
	text-align: center;
	text-indent: 0;
	margin-left: 5%;
  }


  .form-floating>input{
	font-size: 18px;
  }

  .form-floating>.address02{
	width: 100%;
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
	margin-bottom: 10px;
  }
  .form-floating>.address02>input{
	width: 100%;
	font-size: 18px;
	margin-bottom: 10px;
	padding: 10px 0;
  }
  .form-floating>.address02>input:last-child{
	margin-bottom: 0;
  }
  .form-floating>.address03{
	width: 100%;
	display: flex;
	justify-content: space-between;
  }
  .form-floating>.address03>input{
	font-size: 18px;
	padding: 10px 0;
	width: 70%;
  }
  .form-floating>.address03>input:last-child{
	width: 25%;
  }
#box01>form>.submitBtn{
	width: 460px;
	font-size: 20px;
	font-weight: bold;
	padding: 20px 0;
	margin-bottom: 40px;
	text-align: center;
	cursor: pointer;
}
#box01>form>.submitBtn:hover{
	box-shadow: 1px 1px 1px 1px inset;
}

footer{
	background-color: #333;
}
#footer_01{
	width: 1920px;
	margin: 0 auto;
	color: #fff;
	padding: 40px 0;
}

#footer_01>P{
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
}