@charset "utf-8";
/* CSS Document */

.hide{
  width: 0; height: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  visibility: hidden;
}

img{
	max-width: 100%;
  }
  
  html{
	font: 16px '나눔고딕', sans-serif;
	color: #222;
  }
  
  
  #wrap{
	margin: 0 auto;
  }

  #box01{
	margin: 80px auto 0;
	width: 460px;
  }
  #box01>h2{
	padding: 40px 0;
	font-size: 40px;
	font-weight: bold;
	color: #222;
	width: 100%;
	text-align: center;
  }

  #sign{
	width: 460px;
	text-align: center;
	margin: 0 auto;
	/* background-color: red; */
	padding: 40px 0;
  }

  #sign>li{
	margin-bottom: 40px;
  }

  #sign p{
	width: 100%;
	text-align: start;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;
  }

  /* 이름 */
  #name{
	/* background-color: green; */
  }
  #name>input{
	width: 100%;
	font-size: 20px;
	text-indent: 5px;
	margin-bottom: 10px;
	padding: 10px 0;
  }


  /* 생년월일 */
  #birthday{
	width: 100%;
	font-size: 20px;
	text-align: start;
	/* background-color: green; */
  }

  #birthday>input{
	width: 30%;
	font-size: 20px;
	text-indent: 5px;
	margin-bottom: 10px;
	padding: 10px 0;
  }
  #birthday>#mm{
	width: 15%;
	font-size: 20px;
	text-indent: 5px;
	margin-bottom: 10px;
	padding: 10px 0;
  }
  #birthday>#dd{
	width: 15%;
	font-size: 20px;
	text-indent: 5px;
	margin-bottom: 10px;
	padding: 10px 0;
  }

  /* 성별 */

  #gender{
	width: 100%;
	font-size: 20px;
	text-align: start;
  }
  #gender>label{
  }


  /* 전화번호 */
  #tel{
	width: 100%;
	font-size: 20px;
	text-align: start;
  }
  #tel>span{
	display: block;
	width: 100%;
	text-align: start;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;
  }
  #tel>input{
	width: 100%;
	font-size: 20px;
	text-indent: 5px;
	margin-bottom: 10px;
	padding: 10px 0;
  }
/* 자동이체 수단 선택 */
  #bank{
	width: 100%;
	font-size: 20px;
	text-align: start;
  }
  #bank>label{
	font-size: 20px;
  }
  /* 계좌번호 폼 */
  #bank>#bankNoInfo{
	/* background-color: red; */
	display: block;
	margin: 20px auto;
  }
  #bankNoInfo>p{
  }
  #bankNoInfo>.bankNo-label{
	display: block;
	margin: 10px auto;
  }
  #bankNoInfo>.bankNo-input{
	display: block;
	width: 50%;
	font-size: 20px;
	padding: 10px 0;
  }
/* 카드번호 폼 */
  #cardNoInfo{
	/* background-color: green; */
	display: block;
	margin: 20px auto;
  }
  #cardNoInfo>.cardNo-label{
	display: block;
	margin: 10px auto;
  }
  #cardNoInfo>.cardNo-input{
	width: 20%;
	font-size: 20px;
	padding: 10px 0;
  }

/* 설치주소 폼 */
  .form-floating{
	width: 100%;
	/* background-color: yellow; */
	display: block;
	margin: 20px auto;
  }

  .form-floating>.address01{
	width: 100%;
	display: block;
	/* background-color: red; */
	text-align: start;
  }
  .form-floating>.address01>input{
	font-size: 18px;
	padding: 10px 0;
  }
  .form-floating>input{
	font-size: 18px;
  }

  .form-floating>.address02{
	width: 100%;
	display: block;
	text-align: start;
	margin-bottom: 10px;
  }
  .form-floating>.address02>input{
	width: 80%;
	font-size: 18px;
	margin-bottom: 10px;
  }
  .form-floating>.address02>input:last-child{
	margin-bottom: 0;
  }
  .form-floating>.address03{
	width: 100%;
	display: block;
	text-align: start;
  }
  .form-floating>.address03>input{
	font-size: 18px;
	width: 60%;
  }
  .form-floating>.address03>input:last-child{
	width: 20%;
  }
#box01>form>input{
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 40px;
}

